@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BlackEcho";
  src: url("../../public/BlackEcho.otf");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../../public/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("../../public/Poppins-Regular.ttf");
}



@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}


/* * {
  background-color: rgba(0, 136, 255, 0.096);
} */

.width-avl {
  width: -webkit-fill-available;
}