@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BlackEcho";
  src: url("../../public/BlackEcho.otf");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../../public/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("../../public/Poppins-Regular.ttf");
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* * {
  background-color: rgba(0, 136, 255, 0.096);
} */

.width-avl {
  width: -webkit-fill-available;
}

html,
body {
  height: auto;
  min-height: 100svh;
  width: 100%;
}

.main-wrapper {
  height: auto;
  min-height: 100svh;
  width: 100%;
  display: flex;
}

.main-screen-wrapper {
  height: 100%;
  max-height: 100svh;
  width: 100%;
  display: flex;
}

.page-main {
  width: 100%;
  height: auto;
  min-height: 100svh;
  display: flex;
  flex-direction: row;
}

.side-menu {
  height: 100svh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: fixed;
}

.h-d-screen {
  height: 100svh;
}

.h-d-screen-top-open {
  height: 100%;

  @include breakpoint(md) {
    height: calc(100svh - 50px);
  }
}

.h-d-screen-top-close {
  height: 100%;

  @include breakpoint(md) {
    height: 100svh;
  }
}

.min-h-fill {
  min-height: 100vh;
}

.link {
  color: blue;
}
